@media only screen and (max-width: 990px) {
    .navbar {
        display: none;
    }
    .icon {
        display: block;
        line-height: 75px;
        padding: 0 24px 0 0;
        font-size: 20px;
    }
    .modal {
        display: none;
        position: fixed;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        overflow: hidden;
    }
    .mobile {
        display: block;
        background: #ffff;
        height: 100vh;
        width: 100%;
    }

    .mobile a {
        display: block;
        padding: 14px 26px;
        border-bottom: 1px solid #f1f1f1;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .mobile a:hover {
        color: orangered;
    }
    /* =============contact================= */
    .contact {
        display: none;
    }

    /* ===================box--containr========= */
    .box {
        width:28%;
        margin: 10 auto;
    }
    /* ===================== */
    .box-selling {
        width: 28%;
    }

    /* ================== */
    .categories {
        width: 100%;
    }
    .categories .cat:nth-child(1) {
        width: 100%;
    }

    .categories .cat {
        width: 42%;
        padding: 10 auto;
        align-items: center;
        display: block;
        margin-bottom: 15px;
    }

    /* ======== */
    .post-footer {
        display: none;
    }
    .footer  {
        flex-direction: column;
    }
    .foot-item {
        width: 100%;
        margin-bottom: 10px;
        padding:10px;
        border-bottom: 0.1px solid #fff;
        font-size: 15px;
    }

}

@media only screen and (max-width: 768px) {
    button {
        top: 30%;
    }
    .box {
        width:39%;
        margin: 10 auto;
    }

    .box-selling {
        width: 39%;
    }
    /* =========== */
    .story {
        width: 100%;
    }
    .story>img {
        display: none;
    }

    .story-content {
        width: 100%;
    }

    .cat {
        width: 30%;
        margin: 10 auto;
    }
    .cat-desc {
        text-align: left;
    }
    .story-list a{
        width: 100%;
    }

    .footer-last p{
        font-size: 13px;
        color: #fff;
    }
    .midium img {
        width: 100%;
        display: block;
    }
    .midium img:nth-child(1) {
        display: none;
    }

    .slider-container {
        height: 300px;
    }
    /* ============================== */

    .detail {
        flex-direction: column;
        width: 100%;
    }
    .detail-left {
        width: 100%;
        overflow: auto;
    }
    .detail-big {
        width: 98%;
        float: none;
    }
    .detail-small {
        width: 98%;
        display: block;
        margin: 0 auto;
    }
    .detail-small img {
        width: 16%;
        padding: 0 5px;
    }
    .detail-right {
        width: 96%;
        padding: 0 0 0 10px;
        background-color: antiquewhite;
        text-indent: 3px;
    }
    .form {
        width: 80%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}