* {
    margin: 0;
    padding: 0;
}
body  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
ul {
    list-style: none;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    color: #000;
}
.container {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
}

.icon,
.mobile {
    display: none;
}

.logo {
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
}
.logo a {
    color: red;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 75px;
}

.header a {
    line-height: 75px;
    padding: 0 14px;
}
.header a:hover {
    color:orangered;
}

/* ============panner=========== */

.paner {
    width: 100%;
}

.contact::after {
    content: '';
    clear: both;
    display: table;
}
.contact {
    background-color: olive;
    padding: 10px;
}
.contact li{
    width: 23%;
    float: left;
    margin: 0 auto;
    align-items: center;
    padding: 0 10px;
}

.contact li {
    display: flex;
}
.icon-contact {
    padding: 10px;
    font-size: 30px;
    color: #fff;
}
.contac--desc p:nth-child(1) {
    text-transform: uppercase;
    color: yellow;
    font-size: 12px;
    padding-bottom: 5px;
}
.contac--desc p:nth-child(2) {
    color: #fff;
}

.pageTitle {
    text-align: center;
    padding: 20px 0 0 0;
    font-size: 1.5rem;
    font-weight: 500;
}

/* ===========slider-container================ */
.slider-container {
    margin-top: 20px;
    position: relative;
    overflow-x: hidden; /* Rat quan trong */
    height: 470px;
}
.slider-width {
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    left: 0;
    top: 0;
    transition: 0.4s ease-out;
}

.item {
    background: olive;
    width: 15%;
    height: auto;
    margin: 0 10px;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
.item:hover {
    transform: scale(1.05);
}

button {
    background: rgba(0, 0, 0, 0.1);
    display: block;
    text-align: center;
    border: none;
    outline: none;
    color: red;
    font-size: 25px;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    top: 50%;
}
button:hover {
    background: rgba(0, 0, 0, 0.7);
}
.next {
    right: 0;
    border-radius: 100px 0  0 100px;
}
.prev {
    border-radius: 0 100px 100px 0;
}

/*  */
.item--title {
    padding: 10px 0 10px 10px;
    text-transform: uppercase;
    font-size: 16px;
}

.tiem--price {
    padding: 0 0 10px 10px;
    font-size: 16px;
    color: yellow;
}

.item-star{
    display: block;
    width: 90%;
    padding: 0 10px 10px;
}

/* =============midium=============== */

.midium {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.midium img {
    width: 48.5%;
}

.box-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}


.box {
    width: 16.5%;
    padding: 20px;
    transition: 0.5s;
}
.box:hover {
    transform: scale(1.05);
}

.box img {
    border-radius: 25px;
}

/* ================== */
.selling {
    padding-top: 20px;
}

.selling img {
    display: block;
    margin: 0 auto;
    width: 99%;
    border-radius: 5px;
    margin: 0 auto;
}

/* ================= */

.product-selling {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.box-selling {
    width: 16.9%;
    padding: 0 20px;
    margin-bottom: 40px;
    transition: 0.5s;
}
.box-selling:hover {
    transform: scale(1.05);
}

.box-selling img {
    width: 100%;
}
.selling-title {
    padding: 10px 0;
}

.selling-price {
    padding-bottom: 10px;
}

.story-review {
    padding-top: 15px;
    line-height: 1.8;
    text-align: center;
    font-size: 16px;
    opacity: 0.8;
}

/* ====================== */
.story {
    display: flex;
    justify-content: space-between;
}
.story>img {
    width: 35%;
    display: block;
    border-radius: 20px;
    margin: 0 10px;
}

.story-content {
    width: 60%;
    padding: 0 10px;
}

.story-title {
    font-weight: 500;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.story-desc {
    padding-bottom: 15px;
    line-height: 1.8;
    font-weight: 600;
}
.story-detail {
    line-height: 1.8;
    padding: 0 0 20px 0;
}

.story-list {
    padding: 20px 0;
}
.story-list a {
    display: inline-block;
    width: 45%;
    margin-bottom: 20px;
    cursor: pointer;
}
.story-list a img {
    width: 25%;
    margin-right: 5px;
    float: left;
}

.btn-a {
    padding: 12px 24px;
    background-color: olive;
    display: inline-block;
    color: #fff;
    cursor: pointer;
}
.btn-a:hover {
    opacity: 0.8;
}

/* +++++++++++++++++++++++++++ */

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

.cat {
    float: left;
    width: 17%;
    text-align: center;
    padding: 15px;
    background: #b59a73;
    color: #fff;
    border-radius: 5px;
    align-items: center;
}

.cat:nth-child(even) {
    background-color: olive;
}
.cat img {
    width: 50%;
}
.cat-title {
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #fff;
}
.cat-desc {
    padding: 10px 0;
}
/* ======================= */

.address {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 80px;
}

/* ================ */
.post-footer a {
    width: 23%;
    padding: 0 10px;
    display: inline-block;
    float: none;
    position: relative;
}

.post-footer a p {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    color: #fff;
    height: 100%;
    width: 100%;
}

.post-footer a img {
    width: 100%;
}

/* ================== */
.footer {
    display: flex;
    justify-content: space-around;
    background-color: olive;
    padding: 50px 0;
    color:#fff;
}

.foot-item {
    width: 25%;
    text-align: left;
    padding: 0 0 0 20px;
}

.foot-item ul li {
    line-height: 1.8;
    cursor: pointer;
}
.foot-item ul li:hover {
    color: orangered;
}

.footer-last {
    background-color: #b59a73;
    padding: 12px 0;
    text-align: center;
}

.footer-last p {
    font-size: 15px;
    line-height: 1.8;
    font-weight: 700;
}
/* ========================================================== */

.subDetail {
    background: #f1f1f1ff;
    padding: 20px 24px;
}

.subDetail a {
    padding: 0 3px;
}
.subDetail a i {
    padding: 0 5px;
}

.detail {
    display: flex;
}

.detail-left {
    width: 50%;
    display: block;
}


.detail-big{
    width: 70%;
    float: right;
}

.detail-big img {
    width: 100%;
}

.detail-small {
    width: 12%;
    float: right;
    padding: 10px;
}
.detail-small img {
    padding: 5px 0;
}

.detail-right {
    width: 50%;
    padding: 5px 0 0 20px;
}

/* ==================== */
.detail-title {
    font-size: 17px;
    padding: 10px 0;
}
.detail-star {
    padding-bottom: 10px;
}

.detail-price {
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 10px;
}

.detail-price span {
    color: red;
}
.detail-price s {
    opacity: 0.4;
    font-size: 16px;
}

.detail-desc {
    padding-bottom: 10px;
    line-height: 1.8;
}

.form {
    background: olive;
    padding: 10px;
    color: #fff;
    width: 40%;
    text-align: right;
    display: block;
    border-radius: 30px;
    overflow: hidden;
    z-index: -1;
}
input[type=submit] {
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0;
}
input[type=text] {
    width: 10%;
    text-align: center;
    padding: 5px;
    margin: 0;
    border: none;
    outline: none;
}
input[type=submit]:nth-child(1) {
    border-radius: 20px 0 0 20px;
}
input[type=submit]:nth-child(3) {
    border-radius: 0 20px 20px 0;
}

.detail-info {
    padding: 10px 0;
}
.detail-info li {
    padding: 4px 0;
}

.detail-info i {
    font-size: 14px;
    border-radius: 50%;
    color: olive;
}

.gift {
    padding: 10px 0;
    line-height: 1.8;
    color: olive;
}
.gift i {
    color: red;
}
.gift div:nth-child(3) {
    color: red;
}